@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #E8EDF8;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #E8EDF8;
  }
}

body {
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}